*{
  margin: 0;
  padding: 0;
}

h1{
  background-color:#945D5E ;
  color: white;
  height: 5rem;
  line-height: 5rem;
}

body{
  background-color: #DDA77B;
  text-align: center;
}

.container{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game{
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin ;
}

.box{
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0,0,0,0.3);
  font-size: 8vmin;
  color: #945D5E;
  background-color: white ;
}
#reset-button{
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #37123C;
  color: #fff;
  border-radius: 1rem;
  border: none;
}
#game-button{
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #37123C;
  color: #fff;
  border-radius: 1rem;
  border: none;
}

.res-new{
  display: flex;
  gap: 3vmin;
  justify-content: center;
  margin-top: 3rem;
}

.msg-container{
  font-size: 2.5rem;
}
